<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>dutchcoref demo</title>
		<script>
		function replace() {
			document.getElementById("text").value = "Jan vond Ben's portret van zichzelf mooi. Hij heeft hem een compliment gegeven. 'Ik ben onder de indruk van je schilderwerk,' zei hij. 'Allemaal dankzij Bob Ross,' antwoordde Ben.";
		}
		</script>
		<style>
		body { margin: 3em; }
		div.main { max-width: 50em; }
		div.header {
			background: lightgray;
			border-style: dotted;
			padding: 8px;
			width: 100%;
		}
		textarea {
			width: 100%;
			font-size: 150%;
			padding: 8px;
		}
		</style>
	</head>
	<body>
		<h1>Dutch Coreference demo</h1>
		<div class=main>
			<div class="header">
			<p>A demo of the coreference system
			<a href="https://github.com/andreasvc/dutchcoref">
				https://github.com/andreasvc/dutchcoref</a>.
			For more information, see the paper describing
			<a href="https://clinjournal.org/clinj/article/view/91">the rule-based system</a>
			and <a href="https://aclanthology.org/2021.crac-1.5/">the neural extensions</a>. </p>
			<p>Enter some Dutch text (maximum {{ limit }} characters).
			The text will be parsed by Alpino (this may take a minute),
			and a coreference analysis will be shown.
			Alternatively, <a href="javascript:replace()">click here for an example.</a>
			</p>
			</div><br>
			<form name=form action=results method=post enctype="multipart/form-data">
				<textarea name=text rows=15 cols=80 id=text></textarea>
				<input type=submit>
				<label><input type=checkbox name=span>neural span detection</label>
				<label><input type=checkbox name=feat>neural feature detection</label>
				<label><input type=checkbox name=pron>neural pronoun resolver</label>
			</form>
		</div>
	</body>
</html>
